body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
}

nav {
  display: flex;
}

nav button {
  flex: 1;
  padding: 15px;
  background: #222;
  color: white;
  border: none;
  font-size: 16px;
}

textarea {
  width: 100%;
  height: 60vh;
  font-size: 18px;
  background: #000;
  color: white;
  padding: 10px;
}

input {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}

button {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}

.hidden {
  display: none;
}

/* Lock screen */
#lock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
}
